.exp {
    overflow: hidden;
    width: 100%;
    max-width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.title {
    font-size: 3rem;
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: 1.5rem;
}

.collapsible {
    width: 55%;
    margin:  0.5rem 1rem;
    border: 0.3vh solid #5ef1cf;
    border-radius: 15px;
    max-width: 65%;
    overflow: hidden;
}

.headerContentOnClick {
    background: #374658;
    display: flex;
    font-size: medium;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    padding: 0.5rem 1rem;
    color: white;
}

.headercontent {
    display: flex;
    font-size: medium;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    padding: 0.2rem 1rem;
    color: white;
}

.companyname {
    font-weight: 500;
    font-size: medium;
    justify-content: left;
    align-items: start;
    display: flex;
    flex-direction: column;
}

.duration {
    justify-content: right;
} 

.content {
    margin: 1rem 1rem;
    padding: 0.3rem 1rem;
    font-size: medium;
    font-weight: 400;
    color: #c6d0f0;
    border-left: 3px double #5ef1cf;
    justify-content: left;
    text-align: left;
    transition: 0.5s;
    transition-timing-function: ease-in-out;
}