:root {
    --mainColor: #D97441;
}

.nav_style {
    background-color: #11182b;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding: 0 1rem;
}

.nav_ul_style {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav_head_name {
    text-decoration: none;
    font-size: 1.7rem;
    padding: auto;
    font-family: 'Shrikhand', cursive;
    justify-content: center;
    background: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 7px;
    padding-bottom: 5px;
    margin: 10px;
    text-align: center;
}

/* .nav_style a {
    color: inherit;
    text-decoration: none;
} */

.nav_menu {
    padding-left:15px;
    padding-right: 15px;
    font-size: 20px;
    background:
       linear-gradient(
         to bottom,
         var(--mainColor) 0%,
         var(--mainColor) 100%
       );
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 2px 2px;
    color: inherit;
    text-decoration: none;
    transition: background-size .2s;
}


.nav_menu:active {
    background-size: 8px 8px;
    color: #a3cf2a;
    
}
  
.nav_menu:hover {
    background-size: 4px 50px;
}