:root {
    --navBarColor: '#62fbd7',
    --backgroundColor: #09192f,
}

.navbar{
    background: #09192f;
    height: 5rem;
    max-width: 95%;
    width: 100vw;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;   
    box-shadow: 0px 2px 2px  #08182D;
}

.logo {
    object-fit: cover;
    height: 3rem;
    width: 4rem;
}

.naveMenuListItems {
    color: #c6d0f0;
    margin: 1rem;
    cursor: pointer;
}

.naveMenuListItems:hover {
    color: #5ef1cf;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #5ef1cf;
    margin: 1rem;
    cursor: pointer;
}

.navMenuBtn {
    font-size: medium;
    font-weight: 400;
    background: transparent;
    color: #5ef1cf;
    border: solid 0.05rem #5ef1cf;
    display: flex;
    border-radius: 0.2rem;
    align-items: center;
    justify-content: center;
    padding: 0.4rem 0.5rem;
}


.downloadicon {
    font-size: 20px;
}

.downloadtxt {
    margin-left: 0.5rem;
}
.navmenuimg {
    object-fit: cover;
    height: 1rem;
    width: 1rem;
    margin: 1rem;
}